name: Spell checking

# Trigger on pull requests, and pushes to master branch.
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          # When using this Action in other repos, the --skip option below can be removed
          skip: ./.git,go.mod,go.sum
